<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Foto Logo" height="80%" width="80%">
        <div class="buscar"> 
        <input type="text" placeholder="buscar productos, marcas..." required><i class="fas fa-search"></i>
        </div>
        <br>
        <nav class="aviso"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjetas de credito</nav>
    <nav><ul>
            <li> <a href="#">Ofertas </a> </li>
            <li> <a href="#"> Tiendas Oficiales </a> </li>
            <li> <a href="#"> Vender </a> </li>
            <li> <a href="#"> Ayuda </a> </li>
            
        </ul>
        <ul>
            <li> <a href="#"> Creá tu cuenta <i class="fas fa-address-card"></i> </a> </li>
            <li> <a href="#"> Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
            <li> <a href="#"> Mis compras <i class="fas fa-shopping-cart"></i></a> </li>
        </ul>
    </nav>
            </header>
    <main>
       <section> 
     <article>
       <h3>Basado en tu última visita</h3>
       <img src="/images/img-cafetera-moulinex.jpg" alt="Ca" width="400" height="400">
       <p  class="precios">$6.770</p>
       <p class="descuentos">40% OFF</p>
       <p class="descripcion"> <strong>Cafetera Moulinex </strong></p>
     </article> 
     <article>
         <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" width="400" height="400">
         <p class="precios">$230.000</p>
         <p class="descuentos">20% OFF</p>
         <pclass="descripcion"> <strong>Macbook Pro 2019</strong></pclass=>
     </article>
     <article>
         <img src="/images/img-samsung-galaxy-s10.jpg" alt=""width="400" height="400" >
         <p class="precios">$70.500</p>
         <p class="descuentos">10% OFF</p>
         <pclass="descripcion"><strong>Samsung Galaxy S10</strong></pclass=>
     </article>
     <article>
         <img src="/images/img-tv-samsung-smart.jpg" alt="" width="400" height="400">
         <p class="precios">$23.200</p>
         <p  class="descuentos">5% OFF</p>
         <pclass="descripcion"><strong>Smart Tv Samsung 43"</strong></pclass=>
     </article>
       </section>
       <section>
        <article>
            <h3>Seccion de ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Ca" width="400" height="400">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <pclass="descripcion"> <strong>Cafetera Moulinex </strong></pclass=>
          </article> 
          <article>
              <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" width="400" height="400">
              <p class="precios">$230.000</p>
              <p class="descuentos">20% OFF</p>
              <pclass="descripcion"> <strong>Macbook Pro 2019</strong></pclass=>
          </article>
          <article>
              <img src="/images/img-samsung-galaxy-s10.jpg" alt=""width="400" height="400" >
              <p class="precios">$70.500</p>
              <p class="descuentos">10% OFF</p>
              <pclass="descripcion"><strong>Samsung Galaxy S10</strong></pclass=>
          </article>
          <article>
              <img src="/images/img-tv-samsung-smart.jpg" alt="" width="400" height="400">
              <p class="precios">$23.200</p>
              <p class="descuentos">5% OFF</p>
              <pclass="descripcion"><strong>Smart Tv Samsung 43"</strong></pclass=>
          </article>
       </section>
    </main>        
    

    <footer>
    <ul> 
    <li><strong>Pagà con tarjeta o en efectivo</strong></li>    
    </ul>
    <p>Con Mercado Liebre Cash, tenès cuotas sin interès con tarjeta o efectivo en puntos pago. ¡Y siempre es seguro!</p>
    <ul> 
        <li><strong>Envìo gratis desde $2.500</strong></li>    
        </ul>
        <p>Solo por estar registrado en Mercado Liebre tenès envìos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        <ul> 
            <li><strong>Seguridad, de principio a fin</strong></li>    
        </ul>
            <p>¿No te gusta? ¡Devolvelo! En mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</p>

            <ul><li><strong> Copyright 1999-2021 MercadoLiebre S.R.L </strong></li></ul>
    </footer>
</body>
</html>