<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
</head>
<body>
    <form action="/" method="GET">
        <div>
     <label for=""></label>
     <input type="text" placeholder="Nombre y apellido" name="nombre-apellido">
    </div>
    <div>
     <input type="text" placeholder="Nombre de usuario" name="usuario">
    </div>
    <div>
        <input type="email" name="" id="" placeholder="Email" name="mail">
    </div>
    <div>
        <label for="">Fecha de nacimiento</label>
        <input type="date" name="" id="" placeholder="aaaa/mm/dd" name="nacimiento">
    </div>
    <div>
        <input type="text" placeholder="Domicilio" name="domicilio">

    </div>
    <div>
        <label for="">Perfil de usuario</label> <br>
         <label>Comprador<input type="radio" value="comprador"></label>
         <label>Vendedor<input type="radio" value="vendedor"></label>
    </div>
    <div>
        <label for="">Intereses</label> 
        <label>Electro<input type="checkbox" value="electro" ></label>
        <label>Moda<input type="checkbox" value="moda" ></label>
        <label>Hogar<input type="checkbox" value="hogar"></label>
        <label>Jugueteria<input type="checkbox" value="jugueteria"></label>
        <label>Vida sana<input type="checkbox" value="vida-sana"></label>
    </div>
    <div>
        <label for="">Foto de Perfil</label>
        <input type="image" >
    </div>
    <div>
        <input type="password" placeholder="Constraseña">
    </div>
    <div>
        <input type="password" placeholder="Confirmar contraseña">
    </div>
    <div>
        <button type="submit" >Crear cuenta</button>
        <button type="reset">Borrar datos</button>
    </div>
    </form>
</body>
</html>