<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="icon" href="/images/mercado-libre.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registrate</title>
</head>
<body>
    
    <header>
        <div class="top-nav-bar">
        <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Foto Logo"  width="150px"></a>
         
        <input type="text" placeholder="buscar productos, marcas..." required class="barra-busqueda">
        <button><i class="fas fa-search" ></i></button>
    <!-- <div> -->
         <p > <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjetas de credito</p>
        <!-- </div> -->
    </div>
        
        

    <nav>
        <ul type="none" class="opciones-ayuda">
            <li> <a href="#">Ofertas </a> </li>
            <li> <a href="#"> Tiendas Oficiales </a> </li>
            <li> <a href="#"> Vender </a> </li>
            <li> <a href="#"> Ayuda </a> </li>
            <br>
        </ul>
        <ul type="none" class="opciones-inicio">
            <li> <a href="/register"> Creá tu cuenta <i class="fas fa-address-card"></i> </a> </li>
            <li> <a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
            <li> <a href="#"> Mis compras <i class="fas fa-shopping-cart"></i></a> </li>
        </ul>
        <div class="burger-menu">
            <a href="">   <i class="fas fa-bars"></i> </a>
               </div>
    </nav>
    
    <br> <br>
    
            </header>
<main class="main-register">
    <h2 class="register-title">Regístrate gratis</h2>
    <section class="section-control">
    <form action="/" method="GET" class="form-control">
        <div class="form-nombre">
     <label for="nombre-apellido"></label>
     <input type="text" placeholder="Nombre y apellido" name="nombre-apellido">
    </div>
    <div class="form-usuario">
        <label for="usuario"></label>
     <input type="text" placeholder="Nombre de usuario" name="usuario">
    </div>
    <div class="form-email">
        <input type="email" name="" id="" placeholder="Email" name="mail">
    </div>
    <div class="form-nacimiento">
        <label for="fecha-nacimiento">Fecha de nacimiento:</label>
        <input type="date" name="fecha-nacimiento" name="nacimiento">
    </div>
    <div class="form-domicilio">
        <input type="text" placeholder="Domicilio" name="domicilio">

    </div>
    <div class="form-perfil">
        <label for="perfil-de-usuario">Perfil de usuario:</label> <br>
         <label>Comprador<input type="radio" value="comprador" name="perfil" id="comprador"></label>
         <label>Vendedor<input type="radio" value="vendedor" name="perfil" id="vendedor"></label>
    </div>
    <div class="form-intereses">
        <label>Intereses:</label> 
       <div class="check-intereses"> <input type="checkbox" value="electro" name="intereses" id="electro"><label for="electro">Electro</label></div>
         <div class="check-intereses"><input type="checkbox" value="moda" name="intereses" id="moda"><label for="moda">Moda</label></div>
       <div class="check-intereses"> <input type="checkbox" value="hogar" name="intereses" id="hogar"><label for="hogar">Hogar</label></div>
       <div class="check-intereses"><input type="checkbox" value="jugueteria" name="intereses" id="jugueteria"> <label for="jugueteria">Jugueteria</label></div>
     <div class="check-intereses">  <input type="checkbox" value="vida-sana" id="vida-sana" name="intereses"> <label for="vida-sana">Vida sana</label>
     </div>
    </div>
    <div class="form-foto">
        <label for="">Foto de usuario</label>
        <input type="image" >
    </div>
    <div class="form-password">
        <input type="password" placeholder="Constraseña">
    </div>
    <div class="form-confirm-password">
        <input type="password" placeholder="Confirmar contraseña">
    </div>
    <div class="form-buttons">
        <button type="submit" class="button-enviar">Crear cuenta</button>
        <button type="reset" class="button-reset">Borrar datos</button>
    </div>
    </form>
</section>
</main>
    <footer>
        <i class="fas fa-credit-card tarjeta"></i>
        
        <ul type="none"> 
    <li><strong class="titulos-footer" >Pagá con tarjeta o en efectivo</strong></li>    
    </ul>
    <p>Con Mercado Liebre Cash, tenès cuotas sin interés con tarjeta o efectivo en puntos pago. ¡Y siempre es seguro!</p>
    <i class="fas fa-gift regalo"></i>
    <ul type="none"> 
        
        <li><strong class="titulos-footer">Envío gratis desde $2.500</strong></li>    
        </ul>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        <i class="fas fa-user-shield seguridad"></i>
        <ul type="none"> 
            
            <li><strong class="titulos-footer">Seguridad, de principio a fin</strong></li>    
        </ul>
            <p>¿No te gusta? ¡Devolvelo! En mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</p>

            <ul type="none"><li id="Copyright"> Copyright 1999-2021 MercadoLiebre S.R.L </li></ul>
    </footer>
</body>
</html>