*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
width: 100%;
height: 100%;

}
.banner{
    width: 100%;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: #1259c3;
   
}
.opciones-inicio{
    display: none;
}
.opciones-ayuda{
    display: none;
}
p{
    font-size: 12px;
}
h3{
    font-size: 24px;
}
main{
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
    background-color: #ebebeb;
}
section article{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 15px;
    background-color: white;
    width: 80%;
    max-width: 350px;

}
.contenedor-articulos {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    
   
}

.precios{
 font-size: 18px;
 /* text-align-last: left; */
 /* flex-direction: column; */
 /* flex-wrap: nowrap;
 align-items: center; */
 width: 30%;
justify-content: space-around;

}
.descuentos{
    font-size: 16px;
    text-align: left;
     color:#39b54a;
     /* flex-direction: column; */
     order: 0;
     width: 70%;
     justify-content: flex-end;

}
.descripcion{
    font-size: 16px;
    text-align: left;
    flex-direction: column;
justify-content: start;
}
.imagenes{
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    width: 150px;
    text-align: center;
    /* border-bottom: 1px solid #ebebeb ; */
    /* flex-direction: column; */

}
.contenedor-camion{
border:1px solid #39b54a;
width: 25px;
height: 25px;
border-radius: 50%;
flex-direction: column;




}
 .fa-truck{
color: #39b54a;
text-align: center;
margin-top: 25%;

}
header p {
    font-style: italic;
    
    text-align: center;
    margin-left: 20px;
}
.buscar{
   
    color: #000;

}
.burger-menu{
   text-align: center;
    background-color: #1259c3;
    display: inline-block;
    width: 25px;
    height: 25px;
    left: 50%;
    border-radius: 5px;
    position: absolute
}

.fa-bars{
 color: white;
 text-align: center;
 top: 12%;
 position: relative;
    /* margin-left: 150px;
    color: #ebebeb;
    font-size: 2em;
    background-color: #1259c3;
    background-position: center;
    ;
    padding: 10px; */
}
footer{
text-align: center;
border: 2px solid black
}
.tarjeta{
    font-size: 2em;
    text-align: center;
}
.fa-credit-card{
    display: block;
    padding-top: 15px;
    color: #1259c3;
    padding-bottom: -5px;
}
.regalo{
font-size: 2em;
text-align: center 
}
.fa-gift{
display: block;
padding: 10px;
color: #1259c3 ;

}

.seguridad{
    font-size: 2em;
    text-align: center;
}
.fa-user-shield{
    display: block;
padding: 10px;
color: #1259c3 ;
}
#Copyright{
    color: #666;
    opacity: 0.8;
    margin-top: 40px;
    text-align: left;
    font-size: 10px;
}
.titulos-footer{
    text-decoration: none;
}
.section-control{
    /* display: flex; */
    /* text-align: center; */
    margin: auto;
    padding: 15px;
}
.form-nombre, .form-usuario, .form-intereses, .form-email, .form-nacimiento, .form-domicilio, .form-perfil, .form-foto, .form-password, .form-confirm-password {
    margin: auto;
    padding: 8px;
}



.main-register{
    background-color: #fff;
}
.register-title{
    padding: 20px;
}
.section-control{
    background-color: #ebebeb;
    border: 1px solid black;
    width: 70%;
   
}

.form-intereses{
    display: block;
    padding: 8px;
}
.form-intereses label{
margin: 0 5px;
}
.form-intereses input{
    margin: 0 2px;
}
.button-enviar{
background-color: #39b54a;
padding: 10px;
border-radius: 5px;
border: none;
}
.button-reset{
background-color: red;
padding: 10px;
border-radius: 5px;
border: none;
}
.button-enviar:hover, .button-reset:hover{
    box-shadow: 0 0 10px #666;
}
.button-reset, .button-enviar{
    margin-top: 10px;
}


.main-login{
background-color: #ebebeb;
}

.login-title{
    padding: 15px;
    text-align: left;
}
.login-control{
    padding: 10px;
}
.login-control input{
    width: 50%
}
.login-usuario, .login-contraseña{
    padding: 8px;
}
.button-ingresar{
    width: 50%;
    background-color: #1259c3;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.button-ingresar:hover{
    box-shadow: 0 0 15px #666;
}
@media(min-width: 361px){
    .opciones-ayuda,
    .opciones-inicio{
        display: block;
    }
    .burger-menu{
        display: none;
    }
}

@media(min-width: 750px){
.opciones-ayuda,
.opciones-inicio{
    display: block;
}
.burger-menu{
    display: none;
}
section article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 40%;
    max-width: 375px;
}
.register-title{
    text-align: left;
    padding: 20px;
    margin-left: 150px;
}
.login-usuario, .login-contraseña{
    padding: 20px;
    margin: 10px;
}
.button-ingresar{
    width: 50%;
    background-color: #1259c3;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
}
@media(min-width:1200px){
    section article{
        width: 20%;
    
    }
    .contenedor-articulos{
        display: flex;
    }
    .descuentos{
    width: 60%;    
    justify-content: flex-end;
    }
    .precios{
        width: 40%;
    }
    .main-login{
        height: 500px;
       
    }
    
}

 /* main section article i{ 
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    } */