header{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 12px;
}
h3{
    font-size: 24px;
}
.precios{
 font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
.descripcion{
    font-size: 16px;
}
.aviso{
    font-style: italic;
    text-align: center;
}
.buscar{
    margin-left: 40px;
    color: #000;

}
.burguer-menu{
    text-align: center;
    display: block;
    
    
}

.fa-bars{
    margin-left: 150px;
    color: #ebebeb;
    font-size: 2em;
    background-color: #1259c3;
    background-position: center;
    border-radius: 5px;
    padding: 10px;
}
footer{
text-align: center;
}
.tarjeta{
    font-size: 2em;
    text-align: center;
}
.fa-credit-card{
    display: block;
    padding-top: 15px;
    color: #1259c3;
    padding-bottom: -5px;
}
.regalo{
font-size: 2em
}
.fa-gift{
display: block;
padding: 10px;
color: #1259c3 ;

}

.seguridad{
    font-size: 2em;
    text-align: center;
}
.fa-user-shield{
    display: block;
padding: 10px;
color: #1259c3 ;
}
#Copyright{
    color: #666;
    opacity: 0.8;
}